<hr class="footer-line" />

<div id="footer">
  <div id="footer-left">
    <div id="footer-name">
      <h1>ARQIVE</h1>
    </div>
    <div id="footer-social">
      <a href="https://www.linkedin.com/in/lars-ebert-215a03362" target="_blank"><img src="Icon1.png"
          alt="Facebook" /></a>
      <a href="https://www.linkedin.com/in/lars-ebert-215a03362" target="_blank"><img src="Icon2.png"
          alt="LinkedIn" /></a>
      <a href="https://www.linkedin.com/in/lars-ebert-215a03362" target="_blank"><img src="Icon3.png"
          alt="YouTube" /></a>
      <a href="https://www.linkedin.com/in/lars-ebert-215a03362" target="_blank"><img src="Icon4.png"
          alt="Instagram" /></a>
    </div>
  </div>

  <div id="footer-links">
    <ul>
      <li>Seitenübersicht</li>
      <li>Service</li>
      <li><a routerLink="/impressum">Impressum</a></li>
    </ul>
  </div>
</div>