/* You can add global styles to this file, and also import other style files */
:root {
  /* Farben */
    --color-placeholer1: #F2F2F2;
    --color-placeholder2: #EAE4D5;
    --color-placeholder3: #B6B09F;
    --color-placeholder4: #000000;



  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-accent: #e74c3c;
  --color-background: #f5f5f5;
  --color-text: #333;

  /* Abstände */
 

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}