<div id="basket">
    <div id="basket-list">
        <ul>            <li>
                <img src="prod2.png" alt="Produkt 1">
                <div class="product-details">
                    <h2>Produktname</h2>
                    <p>Size: X</p>
                    <h3>10,99€</h3>
                </div>
                <button class="remove">×</button>
            </li>            <li>
                <img src="prod2.png" alt="Produkt 2">
                <div class="product-details">
                    <h2>Produktname 2</h2>
                    <p>Size: X</p>
                    <h3>15,49€</h3>
                </div>
                <button class="remove">×</button>
            </li>            <li>
                <img src="prod2.png" alt="Produkt 3">
                <div class="product-details">
                    <h2>Produktname</h2>
                    <p>Size: X</p>
                    <h3>7,99€</h3>
                </div>
                <button class="remove">×</button>
            </li>            <li>
                <img src="prod2.png" alt="Produkt 4">
                <div class="product-details">
                    <h2>Produktname</h2>
                    <p>Size: X</p>
                    <h3>9,99€</h3>
                </div>
                <button class="remove">×</button>
        </ul>
    </div>          <div class="total">
        <div class="price-table">
            <div class="price-row">
                <h2>Produktpreise</h2>
                <span class="price">34,47€</span>
            </div>
            <div class="price-row border-bottom">
                <h2>Versandkosten</h2>
                <span class="price">4,99€</span>
            </div>
            <div class="price-row">
                <h2>Gesamtbetrag</h2>
                <span class="price">39,46€</span>
            </div>
        </div>
        <button id="checkout1">Weiter einkaufen</button>
        <button id="checkout2">Bezahlen</button>
        
        <div class="benefit-item">
            <div class="benefit-header">
                <img src="icon _avatar.png" alt="Service Icon">
                <h2>Persönlicher Service</h2>
            </div>
            <p>Wenn sich Hilfe brauchen wenden Sie sich an unseres professionelles Team.</p>
        </div>

        <div class="benefit-item">
            <div class="benefit-header">
                <img src="icon _calendar.png" alt="Lieferung Icon">
                <h2>Schnelle Lieferung</h2>
            </div>
            <p>Wir liefern in 1-3 Werkstagen innerhalb Europas und in 6-9 Werkstagen weltweit.</p>
        </div>
    </div>
</div>
