<div class="homepage">

    <div id="div1">
        <h1>Timeless Luxury.</h1>
        <h1>Crafted for the Bold.</h1>
        <p>Inspiriert von der mediterranen Eleganz Monacos und der Handwerkskunst Italiens - entdecken Sie Accessoires, die nicht nur schmücken, sondern Zeichen setzten.</p>
        <button> Jetzt entdecken</button>

    </div>

    <div id="img1">

    </div>


    <div id="div2">
        <ul id="ul1">
            <li class="card">
                <img src="" alt="bild">
                <h3>Höchste Handwerkskunst</h3>
                <p>Unsere Produkte entstehen in traditionsreichen italienischen Ateliers - jedes Stück ein Meisterwerk.</p>
            </li>
            <li class="card">
                <img src="" alt="bild">
                <h3>Limitierte Editionen</h3>
                <p>Keine Massenware - unsere Kollektionen sind streng limitiert, um Exklusivität zu garantieren.<p>
            </li>
            <li>
                <img src="" alt="bild">
                <h3>Nachhaltiger Luxus</h3>
                <p>Wir verwenden nur zertifizierte Materialien aus verantwortungsvollen Quellen - für echte Wertigkeit.</p>
            </li>
        </ul>

    </div>


    <div id="div3">
        <div id="card-right">
            <h1> Mehr als Accessoires: Eine Lebenseinstellung</h1>
            <h3>Mediterrane Seele</h3>
            <p>Unsere Ästetik ist geprägt von der Sonne Italiens, der Klarheit der Côte d’Azur und dem Mut zum Besonderen.</p>

            <h3>Design trifft Statement</h3>
            <p>Jede Tasche, jedes Schmuckstück ist mehr als ein Objekt - es ist Ausdruck eines Lebensgefühl.</p>
        </div>

        <div id="buttons">
            <button>Kollektion entdecken</button>
            <button>Archive</button>
        </div>

        <div id="alterMann">
            <img src="" alt="Alter Mann">
        </div>

    </div>

    <div id="kunden">
        <h1>Was unsere Kunden sagen</h1>
        <ul id="ul2">
            <li class="card">
                <p>“Ich hab noch nie so viele Komplimente für eine Tasche bekommen.”</p>
                <div class="kunden">
                    <img src="" alt="Kunde 1">
                    <h3>Anna Müller</h3>
                </div>
            </li>
            <li id="card">
                <p>“Man fühlt, dass jedes Stück mit echter Leidenschaft gefertigt ist.”</p>
                <div class="kunden">
                    <img src="" alt="Kunde 2">
                    <h3>Maximilian Schmidt</h3>
                </div>
            </li>
            <li id="card">
                <p>“Die Website ist sehr benutzerfreundlich und übersichtlich.”</p>
                <div class="kunden">
                    <img src="" alt="Kunde 3">
                    <h3>Laura Schneider</h3>
                </div>
            </li>
        </ul>

    </div>

    <div id="div4">
        <h1>Bereits für zeitlosen Stil?</h1>
        <button>Jetzt shoppen</button>
        <button>Lookbook ansehen</button>

    </div>





</div>