<div class="header-outer" [class.overlay]="isOverlay">
  <div class="header-container" [class.logo-hidden]="isOverlay">
    <div class="menu" [class.white]="isOverlay">
      <a routerLink="/product-browser"><img src="Home.png" alt="" /></a>
    </div>

    <div class="logo" [class.hidden]="isOverlay">
      <a routerLink="/">
        <h1>ARQIVE</h1>
      </a>
    </div>

    <div class="icons" [class.white]="isOverlay">
      <li class="icon">
        <a href=""><img src="/star.png" alt="Star" width="48" height="48" /></a>
      </li>
      <li class="icon">
        <a href=""><img src="/user.png" alt="User" width="48" height="48" /></a>
      </li>
      <li class="icon">
        <a routerLink="/basket"><img src="/warenkorb.png" alt="Warenkorb" width="48" height="48" /></a>
      </li>
    </div>
  </div>
</div>