<header class="header-container">
    

    <div class="menu">
        <p>Herren</p>
    </div>

    <div class="logo">
        <h1>ARQIVE</h1>
    </div>


    <div class="icons">
        <li class="icon">
          <img src="/star.png" alt="Star" width="48" height="48">
        </li>
        <li class="icon">
          <img src="/user.png" alt="User" width="48" height="48">
        </li>
        <li class="icon">
          <img src="/warenkorb.png" alt="Warenkorb" width="48" height="48">
        </li>
      </div>
</header>
