.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
  width: 100vw;         // volle Bildschirmbreite
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;           // kein Innenabstand
}

.logo h1{
    font-family: 'Michroma', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #000000;

  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

.menu p {
  font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}
.menu {
    display: flex;
  align-items: center;
  padding: 0;
  margin-left: 80px;
  border: 0;
  width: auto;
  height: auto;
  flex: 0 0 auto;
}

.icons {
  display: flex;
  gap: 32px; // Abstand zwischen den Icons
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: 80px;
}

.icon {
  display: flex;
  align-items: center;
}