.header-outer {
  width: 100%;
  background-color: white;
  padding: 0;

  &.overlay {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.header-container {
  // margin: 0 auto;
  height: 120px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.logo-hidden {
  .logo {
    display: none;
  }
}

.logo a h1 {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;

  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2),
    0px -1px 1px rgba(255, 255, 255, 0.3);

  /* 4) schärfere Kanten auf Webkit */
  -webkit-font-smoothing: antialiased;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.white {
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;

  width: auto;
  height: auto;
  flex: 0 0 auto;

  p {
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0;
  }
}

.icons {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
  padding: 0;
}

.icon {
  display: flex;
  align-items: center;
}
