<div class="shop-page">
  <div class="banner-wrapper">
    <img src="Headerwithimage.png" alt="Shop Banner" class="shop-banner" />
    <div class="banner-text">
      <h1><a routerLink="/home">ARQIVE</a></h1>
      <p>Timeless Luxury. Crafted for the Bold.</p>
    </div>
  </div>
</div>


<div class="shop-content">
    <div class="filter">
      <p>filter hier</p>
    </div>

    <div class="handtaschen">
      <h1>Handtaschen</h1>

      <ul class="showList">
       <li class="showListItem">
        <div class="image-wrapper">
          <img src="placeholder1.jpg" alt="bild">
        </div>
        <h3>Product Name</h3>
        <p>Product Description</p>
        <h3 class="price">10.99€</h3>
       </li>

       <li class="showListItem">
        <div class="image-wrapper">
          <img src="placeholder1.jpg" alt="bild">
        </div>
        <h3>Product Name</h3>
        <p>Product Description</p>
        <h3 class="price">10.99€</h3>
       </li>
       
        <li class="showListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>
      
      </ul>

      <ul class="NormalProductList">
        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>

        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>

        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>
        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>

        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>

        <li class="NormalProductListItem">
          <div class="image-wrapper">
            <img src="placeholder1.jpg" alt="bild">
          </div>
          <h3>Product Name</h3>
          <p>Product Description</p>
          <h3 class="price">10.99€</h3>
        </li>

      </ul>
    </div>
  </div>

