.shop-page {
  position: relative;
  width: 100%;
}

.shop-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; /* optional: Fokus oben */
  display: block;
}

.shop-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-text {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  
}
.banner-text h1 {
  font-size: 48px;
  font-family: Michroma;
  font-weight: 600;
  letter-spacing: 25%;
  text-align: center;
  margin: 0;
}
.banner-text a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.banner-text p{
  margin: 0;
  font-weight: 300;
}

.shop-page {
  position: relative;
  width: 100%;
  /* kein padding-top */
}

.shop-content {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Inter, sans-serif;
}

.filter {
  width: 100%;
  height: 178px;
  background-color: antiquewhite;
}

.handtaschen h1 {
  font-size: 48px;
  margin-top: 0;
}

.showList h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.showList p {
  margin: 0;
}

.showList {
  padding: 0;
  display: grid;
  grid-template-columns: 735px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "item1 item2"
    "item1 item3";
  height: 750px; // gleiche Höhe wie großes Bild
}

.showListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.image-wrapper {
  flex: 1;
  overflow: inherit;
  box-sizing: border-box;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  border: 1px solid #ededed; /* optional: Rahmen um das Bild */
  border-radius: 8px; /* optional: abgerundete Ecken */
  box-sizing: border-box;
  margin-bottom: 10px;
}

// Grid-Zuweisung
.showListItem:nth-child(1) {
  grid-area: item1;
}

.showListItem:nth-child(2) {
  grid-area: item2;
}

.showListItem:nth-child(3) {
  grid-area: item3;
}

.NormalProductList {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;
  list-style: none;
}
.NormalProductList h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
.NormalProductList p {
  margin: 0;
}
